@font-face {
      font-family: "sunspire";
      src: url("font/sunspire.ttf") format("truetype"),
            url("font/sunspire.otf") format("opentype");
}

* {
      padding: 0px;
      margin: 0px;
      box-sizing: border-box;
      font-family: 'Jura', sans-serif;
      font-weight: 600;
}

h1, h2, h3, h4, h5, h6 {
      font-family: "sunspire";
}

.App, .main-component {
      text-align: center;
      
}

.App {
      background-color:#111;
      color: #eee;
      min-height: 100vh;
}

.main-component {
      border: solid 5px #00ABA9;
      background-color: #eee;
      color: #111;
}

.pt-pb-30 {
      padding-top: 30px;
      padding-bottom: 30px;
}

.pl-pr-10 {
      padding-left: 10px;
      padding-right: 10px;
}

.mt-30 {
      margin-top: 30px;
}

.mt-50 {
      margin-top: 50px;
}

.counter-display {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto; 
}

.possession {
      border-radius: 3px;
      height: 50px;
      width: 100px;
}


.tackle {
      border-radius: 50px;
      height: 60px;
      width: 60px;
}

.stat-display {
      background-color: #111;
      color: #4AC1C1;
      border-radius: 5px;
      margin: 20px auto;
      padding: 10px;
      width: 80%
    }

.green {
      background-color: #00ABA9;
}

.red {
      background-color: #C85454;
}

.yellow {
      background-color: #FFC900;
}

.dark {
      background-color: #111;
}

.flex-row-space-around-start {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: flex-start;
}

.flex-column-center-center {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
}
